* {
    color: #fff;
    box-sizing: border-box;
}

body {
    background-color: #0B0B0B !important;
    
}


/* Navbar */
.bg-navbar {
    background-color: #0B0B0B;
}

.logo-navbar {
    width: 56px !important;
}

.nav-link {
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
}

.active {
    color: #F74D4D !important;
}


/* Complain */

.message-left {
    margin-top: 40px !important;
}

.img-admin {
    width: 40px !important;
    height: 40px;
}

p {
    font-size: 12px;
    margin-left: 20px;
}

.chat-admin {
    margin-top: -7px;
    color: #ABABAB;
}

.img-chat-user {
    width: 200px;
    float: right;
    margin-top: 260px;
}

.colom-left {
    padding-left: 40px;
}

.img-chat-admin {
    margin-top: 320px;
    width: 40px !important;
    height: 40px;
}

.img-replay-admin {
    width: 200px;
    margin-top: 320px;
}

.form-control {
    background-color: #ABABAB !important;
    color: #fff !important;
    margin-top: 30px;
}

.vertical-line {
    width: 1px !important;
    height: 186vh;
    background-color: #6A6A6A !important;
    margin-left: 400px;
    position: absolute;
}