* {
    color: #fff;
    box-sizing: border-box;
}

.bg-navbar {
    background-color: #0B0B0B;
}

.logo-navbar {
    width: 56px !important;
}

.nav-link {
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
}